/*!
 * ZinoUI v1.3 (http://zinoui.com)
 * Copyright 2012-2013 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-selectbox-holder{
	background: #444; /* Old browsers */
	background: -moz-linear-gradient(top,  #444 0%, #333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #444 0%,#333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #444 0%,#333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #444 0%,#333 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #444 0%,#333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#333',GradientType=0 ); /* IE6-9 */

	border: solid 1px #515151;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 26px;
	position: relative;
	width: 200px;
}
.zui-selectbox-holder:focus{
	outline: none;
}
.zui-selectbox-holder:focus .zui-selectbox-selector{
	
}
.zui-selectbox-selector{
	display: block;
	height: 26px;
	left: 0;
	line-height: 26px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width: 170px;
}
.zui-selectbox-selector:link, 
.zui-selectbox-selector:visited, 
.zui-selectbox-selector:hover{
	color: #fff;
	outline: none;
	text-decoration: none;
}
.zui-selectbox-toggle{
	background: url(img/zui-selectbox.png) 0 -24px no-repeat;
	display: block;
	height: 8px;
	outline: none;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 13px;
}
.zui-selectbox-toggle:hover{
	background: url(img/zui-selectbox.png) 0 -16px no-repeat;
}
.zui-selectbox-toggle-open{
	background: url(img/zui-selectbox.png) 0 0 no-repeat;
}
.zui-selectbox-toggle-open:hover{
	background: url(img/zui-selectbox.png) 0 -8px no-repeat;
}
.zui-selectbox-holder-disabled{
	background-color: #3C3C3C;
	border: solid 1px #515151;
}
.zui-selectbox-holder-disabled .zui-selectbox-holder{
	
}
.zui-selectbox-holder-disabled .zui-selectbox-toggle{
	
}
.zui-selectbox-options{
	background-color: #212121;
	border: solid 1px #515151;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	list-style: none;
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 26px;
	width: 200px;
	z-index: 1;
	overflow-y: auto;
}
.zui-selectbox-options li{
	padding: 0 7px;
}
.zui-selectbox-options a{
	border-bottom: dotted 1px #515151;
	display: block;
	outline: none;
	padding: 5px 0 5px 3px;
}
.zui-selectbox-options a:link, 
.zui-selectbox-options a:visited{
	color: #ddd;
	text-decoration: none;
}
.zui-selectbox-options a:hover,
.zui-selectbox-options a:focus,
.zui-selectbox-options a.zui-selectbox-focus{
	color: #fff;
}
.zui-selectbox-options li.last a,
.zui-selectbox-options li:last-child a,
.zui-selectbox-options li:last-child span{
	border-bottom: none;
}
.zui-selectbox-options .zui-selectbox-disabled{
	border-bottom: dotted 1px #515151;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}
.zui-selectbox-options .zui-selectbox-group{
	border-bottom: dotted 1px #515151;
	color: #fff;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.zui-selectbox-options .zui-selectbox-sub{
	padding-left: 17px;
}
[aria-expanded="true"] {
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}