/*!
 * ZinoUI v1.3 (http://zinoui.com)
 * Copyright 2012-2013 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-calendar-container{
	overflow: hidden;
}
.zui-calendar-table{
	border-collapse: separate;
	border-spacing: 0;
	border: solid 1px #A4BED4;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	font-weight: normal;
	float: left;
	margin: 1px;
	padding: 0;
	width: 200px;
}
.zui-calendar-table,
.zui-calendar-table th,
.zui-calendar-table td {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.zui-calendar-table thead tr{
	background-color: #D7E9FE;
	border: 1px solid #A4BED4;
	background-image: linear-gradient(bottom, rgb(205,227,254) 23%, rgb(231,241,255) 62%);
	background-image: -o-linear-gradient(bottom, rgb(205,227,254) 23%, rgb(231,241,255) 62%);
	background-image: -moz-linear-gradient(bottom, rgb(205,227,254) 23%, rgb(231,241,255) 62%);
	background-image: -webkit-linear-gradient(bottom, rgb(205,227,254) 23%, rgb(231,241,255) 62%);
	background-image: -ms-linear-gradient(bottom, rgb(205,227,254) 23%, rgb(231,241,255) 62%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.23, rgb(205,227,254)),
		color-stop(0.62, rgb(231,241,255))
	);
}
.zui-calendar-table thead tr:first-child{
	line-height: 23px;
}
.zui-calendar-table thead th{
	font-weight: bold;
	color: #212121;
	height: 20px;
	text-align: center;
}
.zui-calendar-table tbody td{
	color: #000;
	cursor: pointer;
	font-weight: normal;
	height: 25px;
	padding: 0 0 1px 1px;
	width: 25px;
	text-align: center;
}
.zui-calendar-table tbody tr:first-child td{
	border-top: solid 1px #fff;
}
.zui-calendar-table tbody td:first-child{
	border-left: solid 1px #fff;
	padding: 0 0 1px;
}
.zui-calendar-table .zui-calendar-wday,
.zui-calendar-table .zui-calendar-wnum{
	font-weight: normal;
	border-right: 1px solid #A4BED4;
	border-top: 1px solid #A4BED4;
	border-bottom: 1px solid #A4BED4;
	padding: 1px 1px 2px 2px;
}
.zui-calendar-table .zui-calendar-wnum{
	border-right: 1px solid #A4BED4;
	border-bottom: 1px solid #A4BED4;
	color: #CC6600;
	background-image: linear-gradient(bottom, rgb(255,225,159) 23%, rgb(255,250,234) 62%);
	background-image: -o-linear-gradient(bottom, rgb(255,225,159) 23%, rgb(255,250,234) 62%);
	background-image: -moz-linear-gradient(bottom, rgb(255,225,159) 23%, rgb(255,250,234) 62%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,225,159) 23%, rgb(255,250,234) 62%);
	background-image: -ms-linear-gradient(bottom, rgb(255,225,159) 23%, rgb(255,250,234) 62%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.23, rgb(255,225,159)),
		color-stop(0.62, rgb(255,250,234))
	);
}
.zui-calendar-table .zui-calendar-wday:last-child{
	border-right: none;
}
.zui-calendar-table .zui-calendar-empty{
	background-color: #fff;
	border-right: solid 1px #fff;
	border-bottom: solid 1px #fff;
	color: #999;
	cursor: default;
}
.zui-calendar-table .zui-calendar-date{
	background-color: #EDF4FE;
	border-right: solid 1px #fff;
	border-bottom: solid 1px #fff;
}
.zui-calendar-table .zui-calendar-past{
	background-color: #f1f1f1;
	color: #999;
	cursor: default;
}
.zui-calendar-table .zui-calendar-today{
	background-color: #9BC7FE;
	color: #fff;
}
.zui-calendar-table .zui-calendar-week{
	background-color: #FEF3DA;
	border-right: solid 1px #fff;
	border-bottom: solid 1px #fff;
	color: #CC6600;
	cursor: default;
}
.zui-calendar-table .zui-calendar-selected{
	background-color: #BDD6FC;
	color: #fff;
}
.zui-calendar-table .zui-calendar-over,
.zui-calendar-table .zui-calendar-date:hover{
	background-color: #719ABC;
	color: #fff;
}
.zui-calendar-table .zui-calendar-past:hover{
	background-color: #e0e0e0;
	color: #666;
}
.zui-calendar-table .zui-calendar-month,
.zui-calendar-table .zui-calendar-navi,
.zui-calendar-table .zui-calendar-wnum,
.zui-calendar-table .zui-calendar-wday,
.zui-calendar-table .zui-calendar-week{
	cursor: text;
}